<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body bgcolor="#FFFFFF">
    <div align="center" style="margin-top:200px;">
        <h2 th:text="${'Welcome, ' + name}"></h2>
        <input type="button" value="logout" onclick="location.href='/logout';" class="btn btn-sm btn btn-outline-dark"/>
    </div>
</body>

</html>